
/node_modules/
/.idea
/assets/css.app.version.json
/bower_components/
/css/*
/js/*
/fonts/*

/assets/css.app.version.json
/assets/js.app.version.json
/assets/css.vendor.version.json
/assets/js.vendor.version.json
