.height_block_four{
    margin: 0 auto;
    height: 340px;
}

.block_position{
    width: 300px;
    margin: 0;
}

.checkbox_four_headline{
    font-family: Lato;
    font-weight: normal;
    font-size: 22px;
    color: #2d3950;
    text-align: center;
    padding-top: 32px;
}

.img_one_position{
    display: block;
    position: relative;
    margin: 0 auto;
    padding-top: 65px;
}

.checkbox_four_text{
    font-family: Lato;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #999999;
    text-align: center;
}