.block_six{
    background: #f6f9f9 url("/img/layer.png") 50% 50% no-repeat;
    background-size: cover;
    width: 100%;

    position: relative;
    overflow: hidden;
    padding: 74px 0;
}

.block_six_size{
    width: 553px;
    margin: 0 auto;
}

.headline_six_text{
    font-family: Lato;
    font-weight: normal;
    font-size: 41px;
    color: #ffffff;
    text-align: center;
    ;
}
.form-control{
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
}
.form_group_margin{
    margin-top: 50px;
}

.form_one{
    height: 60px;
}
.form_two{
    height: 160px;
}

.btn{
    font-size: 18px;
    color: #fff;
    background-color: #00b3ee;
    border-color: #00b3ee;
    padding: 14px 45px;
    float: right;
}

.checkbox{
    float: left;
    color: #fff;
    margin: 0;
    padding: 18px 0;

}

textarea{
    min-height: 160px;
    resize: vertical;
}
