html, body{
    margin: 0;
    padding: 0;
}

header{
    background: yellow;
}

.header_wrapper{
    padding: 30px 252px;
}

.checkbox{
    padding-left: 305px;
    padding-top: 40px;
}
.checkbox-text{
    font-family: Lato;
    font-weight: bold;
    font-size: 31px;
    padding-left: 15px;
}

.notice-success {
    background: #f6f9f9 url("/img/banner.png") 50% 50% no-repeat ;
    background-size: cover;
    width: 100%;
    height: 800px;
    position: relative;
}

.checkbox_banner{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    margin-left: -300px;
}

.text_banner {
    text-align: center;
    font-family: Lato;
    font-weight: bold;
    font-size: 120px;
    color: white;
    margin: 0;
}