html, body{
    margin: 0;
    padding: 0;
}

header{
    background: #f6f9f9;
}

.header_wrapper{
    padding: 30px 252px;
}

.checkbox{
    padding-left: 305px;
    padding-top: 40px;
}
.checkbox-text{
    font-family: Lato;
    font-weight: bold;
    font-size: 31px;
    padding-left: 15px;
}

.notice-success {
    background: #f6f9f9 url("/img/banner.png") 50% 50% no-repeat ;
    background-size: cover;
    width: 100%;
    height: 800px;
    position: relative;
}

.checkbox_banner{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    transform: translate(-50%, -50%);
}

.text_banner {
    text-align: center;
    font-family: Lato;
    font-weight: bold;
    font-size: 120px;
    color: white;
    margin: 0;
}
.text_logo {
    text-align: center;
    font-family: Lato;
    font-weight: regular;
    font-size: 20px;
    color: white;
    margin: 0;
    border-top: 2px solid #15a4fa;
    padding-top: 40px;
}
.button{

    left: 50%;
    margin-top: 65px;
    margin-left: 178px;
    width: 178px;
    text-align: center;
    font-family: Lato;
    font-weight: regular;
    font-size: 20px;
    color: white;
    border: 1px solid #15a4fa;
    border-radius: 5px;
    padding: 21px;
    transition: all 200ms ease-in-out;
    cursor: pointer;

}

.button:hover{
    background: rgba(21, 164, 250, 0.8);
}

a{
    text-decoration: none;
    color: white;
}