html, body {
    margin: 0;
    padding: 0;
}

.pagination{
    margin: 0;
}

.pagination > li > a{
    color: #00b3ee;
}

.pagination > li.active > a,
.pagination > li:hover > a{
    background: #00b3ee;
    color: #fff;
}

hr{
    margin: 0;
    margin-bottom: 20px;
    border: solid 1px #00b3ee;
}

label{
    margin-bottom: 0;
    width: 100%;
}