.auto_block{
    width: 100%;
    padding: 30px 0;
}

.auto_block_filter{
    background: #f6f9f9;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.auto_block_filter_field{

}

.auto_block_filter_field_title{
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #2d3950;
    margin-bottom: 5px;
}

.auto_block_filter_field_input{
    margin-bottom: 10px;
}

.auto_block_items{

}

.auto_block_item{
    border-radius: 5px;
    padding: 15px 15px;
    margin-bottom: 20px;
    background: #f6f9f9;
    position: relative;
}

.auto_block_item_title{
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 25px;
    line-height: 23px;
    color: #2d3950;
    margin-bottom: 15px;
}

.auto_block_item_description{
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #2d3950;
    margin-bottom: 5px;
}

.auto_block_item_prices{
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    color: #2d3950;
    border-left: 2px solid #00b3ee;
    position: absolute;
    right: 0;
    top: 15px;
    bottom: 15px;
    width: 200px;
    padding: 0 15px;
}

.auto_block_item_prices_list{
    padding: 0;
    list-style-type: none;
}

.auto_block_item_price{

}

.auto_block_item_btns{
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
}

.auto_block_item_btn{
    padding: 8px 0;
    width: 100%;
    display: inline-block;
    font-size: 14px;
    transition: all 200ms ease-in-out;
    transform: translate(0, 0);
}

.auto_block_item_btn:hover{
    transform: translate(0, -2px);
}

.auto_block_img_wrapper{

}

.auto_block_img{
    width: 100%;
    height: 140px;
    object-fit: cover;
}