.contacts_block{
    background: #f6f9f9 url("/img/layer.png") 50% 50% no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 50px 0;
}

.contacts_block_content{

}

.contacts_block_field{
    padding: 75px 45px;
}

.contacts_block_title{
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 35px;
    color: #fff;
    text-align: left;
    margin-bottom: 10px;
}

.contacts_block_description{
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #fff;
    text-align: left;
    padding-left: 10px;
}