.header_block {
    background: #f6f9f9;
}

.header_wrapper {
    padding: 20px 0;
    overflow: hidden;
}

.header_logo {
    float: left;
    width: 30%;
}

.header_logo_img {
    margin-right: 15px;
    float: left;
}

.header_logo_text {
    font-family: 'Lato', sans-serif;;
    font-weight: bold;
    font-size: 22px;
    line-height: 37px;
    margin: 0;
}

.header_menu {
    float: right;
    width: 70%;
}

.header_menu_list {
    text-align: right;
    margin: 0;
    padding: 0;
}

.header_menu_item {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
}

.header_menu_item a {
    font-size: 16px;
    line-height: 37px;
    font-family: 'Lato', sans-serif;
    color: #15A4FA;
    transition: all 200ms ease-in-out;
    text-decoration: none;
}

.header_menu_item a:hover{
    color: #156bba;
    text-decoration: none;
}
